/**
 * LittleCSS v0.1.0
 * Ultra-lean simplified TailwindCSS library
 * Copyright © Xavi Esteve 2021 (MIT License)
 */


/*
88""Yb    db    88""Yb    db    8b    d8 888888 888888 888888 88""Yb .dP"Y8
88__dP   dPYb   88__dP   dPYb   88b  d88 88__     88   88__   88__dP `Ybo."
88"""   dP__Yb  88"Yb   dP__Yb  88YbdP88 88""     88   88""   88"Yb  o.`Y8b
88     dP""""Yb 88  Yb dP""""Yb 88 YY 88 888888   88   888888 88  Yb 8bodP'
*/
:root {

	/* TailWindCSS Color Palette https://tailwindcss.com/docs/customizing-colors#color-palette-reference */
	/* Blue Gray */
	--colorBlueGray50: #F8FAFC;
	--colorBlueGray100: #F1F5F9;
	--colorBlueGray200: #E2E8F0;
	--colorBlueGray300: #CBD5E1;
	--colorBlueGray400: #94A3B8;
	--colorBlueGray500: #64748B;
	--colorBlueGray600: #475569;
	--colorBlueGray700: #334155;
	--colorBlueGray800: #1E293B;
	--colorBlueGray900: #0F172A;

	/* Cool Gray */
	--colorCoolGray50: #F9FAFB;
	--colorCoolGray100: #F3F4F6;
	--colorCoolGray200: #E5E7EB;
	--colorCoolGray300: #D1D5DB;
	--colorCoolGray400: #9CA3AF;
	--colorCoolGray500: #6B7280;
	--colorCoolGray600: #4B5563;
	--colorCoolGray700: #374151;
	--colorCoolGray800: #1F2937;
	--colorCoolGray900: #111827;

	/* Gray */
	--colorGray50: #FAFAFA;
	--colorGray100: #F4F4F5;
	--colorGray200: #E4E4E7;
	--colorGray300: #D4D4D8;
	--colorGray400: #A1A1AA;
	--colorGray500: #71717A;
	--colorGray600: #52525B;
	--colorGray700: #3F3F46;
	--colorGray800: #27272A;
	--colorGray900: #18181B;

	/* True Gray */
	--colorTrueGray50: #FAFAFA;
	--colorTrueGray100: #F5F5F5;
	--colorTrueGray200: #E5E5E5;
	--colorTrueGray300: #D4D4D4;
	--colorTrueGray400: #A3A3A3;
	--colorTrueGray500: #737373;
	--colorTrueGray600: #525252;
	--colorTrueGray700: #404040;
	--colorTrueGray800: #262626;
	--colorTrueGray900: #171717;

	/* Warm Gray */
	--colorWarmGray50: #FAFAF9;
	--colorWarmGray100: #F5F5F4;
	--colorWarmGray200: #E7E5E4;
	--colorWarmGray300: #D6D3D1;
	--colorWarmGray400: #A8A29E;
	--colorWarmGray500: #78716C;
	--colorWarmGray600: #57534E;
	--colorWarmGray700: #44403C;
	--colorWarmGray800: #292524;
	--colorWarmGray900: #1C1917;

	/* Red */
	--colorRed50: #FEF2F2;
	--colorRed100: #FEE2E2;
	--colorRed200: #FECACA;
	--colorRed300: #FCA5A5;
	--colorRed400: #F87171;
	--colorRed500: #EF4444;
	--colorRed600: #DC2626;
	--colorRed700: #B91C1C;
	--colorRed800: #991B1B;
	--colorRed900: #7F1D1D;

	/* Orange */
	--colorOrange50: #FFF7ED;
	--colorOrange100: #FFEDD5;
	--colorOrange200: #FED7AA;
	--colorOrange300: #FDBA74;
	--colorOrange400: #FB923C;
	--colorOrange500: #F97316;
	--colorOrange600: #EA580C;
	--colorOrange700: #C2410C;
	--colorOrange800: #9A3412;
	--colorOrange900: #7C2D12;

	/* Amber */
	--colorAmber50: #FFFBEB;
	--colorAmber100: #FEF3C7;
	--colorAmber200: #FDE68A;
	--colorAmber300: #FCD34D;
	--colorAmber400: #FBBF24;
	--colorAmber500: #F59E0B;
	--colorAmber600: #D97706;
	--colorAmber700: #B45309;
	--colorAmber800: #92400E;
	--colorAmber900: #78350F;

	/* Yellow */
	--colorYellow50: #FEFCE8;
	--colorYellow100: #FEF9C3;
	--colorYellow200: #FEF08A;
	--colorYellow300: #FDE047;
	--colorYellow400: #FACC15;
	--colorYellow500: #EAB308;
	--colorYellow600: #CA8A04;
	--colorYellow700: #A16207;
	--colorYellow800: #854D0E;
	--colorYellow900: #713F12;

	/* Lime */
	--colorLime50: #F7FEE7;
	--colorLime100: #ECFCCB;
	--colorLime200: #D9F99D;
	--colorLime300: #BEF264;
	--colorLime400: #A3E635;
	--colorLime500: #84CC16;
	--colorLime600: #65A30D;
	--colorLime700: #4D7C0F;
	--colorLime800: #3F6212;
	--colorLime900: #365314;

	/* Green */
	--colorGreen50: #F0FDF4;
	--colorGreen100: #DCFCE7;
	--colorGreen200: #BBF7D0;
	--colorGreen300: #86EFAC;
	--colorGreen400: #4ADE80;
	--colorGreen500: #22C55E;
	--colorGreen600: #16A34A;
	--colorGreen700: #15803D;
	--colorGreen800: #166534;
	--colorGreen900: #14532D;

	/* Emerald */
	--colorEmerald50: #ECFDF5;
	--colorEmerald100: #D1FAE5;
	--colorEmerald200: #A7F3D0;
	--colorEmerald300: #6EE7B7;
	--colorEmerald400: #34D399;
	--colorEmerald500: #10B981;
	--colorEmerald600: #059669;
	--colorEmerald700: #047857;
	--colorEmerald800: #065F46;
	--colorEmerald900: #064E3B;

	/* Teal */
	--colorTeal50: #F0FDFA;
	--colorTeal100: #CCFBF1;
	--colorTeal200: #99F6E4;
	--colorTeal300: #5EEAD4;
	--colorTeal400: #2DD4BF;
	--colorTeal500: #14B8A6;
	--colorTeal600: #0D9488;
	--colorTeal700: #0F766E;
	--colorTeal800: #115E59;
	--colorTeal900: #134E4A;

	/* Cyan */
	--colorCyan50: #ECFEFF;
	--colorCyan100: #CFFAFE;
	--colorCyan200: #A5F3FC;
	--colorCyan300: #67E8F9;
	--colorCyan400: #22D3EE;
	--colorCyan500: #06B6D4;
	--colorCyan600: #0891B2;
	--colorCyan700: #0E7490;
	--colorCyan800: #155E75;
	--colorCyan900: #164E63;

	/* Light Blue */
	--colorLightBlue50: #F0F9FF;
	--colorLightBlue100: #E0F2FE;
	--colorLightBlue200: #BAE6FD;
	--colorLightBlue300: #7DD3FC;
	--colorLightBlue400: #38BDF8;
	--colorLightBlue500: #0EA5E9;
	--colorLightBlue600: #0284C7;
	--colorLightBlue700: #0369A1;
	--colorLightBlue800: #075985;
	--colorLightBlue900: #0C4A6E;

	/* Blue */
	--colorBlue50: #EFF6FF;
	--colorBlue100: #DBEAFE;
	--colorBlue200: #BFDBFE;
	--colorBlue300: #93C5FD;
	--colorBlue400: #60A5FA;
	--colorBlue500: #3B82F6;
	--colorBlue600: #2563EB;
	--colorBlue700: #1D4ED8;
	--colorBlue800: #1E40AF;
	--colorBlue900: #1E3A8A;

	/* Indigo */
	--colorIndigo50: #EEF2FF;
	--colorIndigo100: #E0E7FF;
	--colorIndigo200: #C7D2FE;
	--colorIndigo300: #A5B4FC;
	--colorIndigo400: #818CF8;
	--colorIndigo500: #6366F1;
	--colorIndigo600: #4F46E5;
	--colorIndigo700: #4338CA;
	--colorIndigo800: #3730A3;
	--colorIndigo900: #312E81;

	/* Violet */
	--colorViolet50: #F5F3FF;
	--colorViolet100: #EDE9FE;
	--colorViolet200: #DDD6FE;
	--colorViolet300: #C4B5FD;
	--colorViolet400: #A78BFA;
	--colorViolet500: #8B5CF6;
	--colorViolet600: #7C3AED;
	--colorViolet700: #6D28D9;
	--colorViolet800: #5B21B6;
	--colorViolet900: #4C1D95;

	/* Purple */
	--colorPurple50: #FAF5FF;
	--colorPurple100: #F3E8FF;
	--colorPurple200: #E9D5FF;
	--colorPurple300: #D8B4FE;
	--colorPurple400: #C084FC;
	--colorPurple500: #A855F7;
	--colorPurple600: #9333EA;
	--colorPurple700: #7E22CE;
	--colorPurple800: #6B21A8;
	--colorPurple900: #581C87;

	/* Fuchsia */
	--colorFuchsia50: #FDF4FF;
	--colorFuchsia100: #FAE8FF;
	--colorFuchsia200: #F5D0FE;
	--colorFuchsia300: #F0ABFC;
	--colorFuchsia400: #E879F9;
	--colorFuchsia500: #D946EF;
	--colorFuchsia600: #C026D3;
	--colorFuchsia700: #A21CAF;
	--colorFuchsia800: #86198F;
	--colorFuchsia900: #701A75;

	/* Pink */
	--colorPink50: #FDF2F8;
	--colorPink100: #FCE7F3;
	--colorPink200: #FBCFE8;
	--colorPink300: #F9A8D4;
	--colorPink400: #F472B6;
	--colorPink500: #EC4899;
	--colorPink600: #DB2777;
	--colorPink700: #BE185D;
	--colorPink800: #9D174D;
	--colorPink900: #831843;

	/* Rose */
	--colorRose50: #FFF1F2;
	--colorRose100: #FFE4E6;
	--colorRose200: #FECDD3;
	--colorRose300: #FDA4AF;
	--colorRose400: #FB7185;
	--colorRose500: #F43F5E;
	--colorRose600: #E11D48;
	--colorRose700: #BE123C;
	--colorRose800: #9F1239;
	--colorRose900: #881337;


	/* Colors */
	--colorDangerDark: var(--colorRed700);
	--colorDangerLight: var(--colorRed200);
	--colorWarningDark: var(--colorYellow700);
	--colorWarningLight: var(--colorYellow200);
	--colorSuccessDark: var(--colorGreen700);
	--colorSuccessLight: var(--colorGreen200);
	--colorInfoDark: var(--colorBlue700);
	--colorInfoLight: var(--colorBlue200);
	--colorSecondaryDark: var(--colorCoolGray700);
	--colorSecondaryLight: var(--colorCoolGray200);
	--colorPre: var(--colorCoolGray100);

	/* Colors branding */
	--colorPrimary: var(--colorIndigo400);
	--colorAction: var(--colorPrimary);
	--colorActionText: var(--colorIndigo200);
	--colorBackground: var(--colorIndigo100);
	--colorFont: var(--colorCoolGray800);

	/* Typography */
	--fontFamilySansSerif: sans-serif;
	--fontFamilySerif: serif;
	--fontFamily: var(--fontFamilySansSerif);
	--fontSize: 17px;
	--fontWeightLight: 300;
	--fontWeightNormal: 500;
	--fontWeightBold: 600;

	/* Sizes */
	--containerWidthSm: 540px;
	--containerWidthMd: 720px;
	--containerWidthLg: 960px;
	--containerWidthXl: 1140px;
	--containerWidthXxl: 1320px;

	--borderRadius: 3px;
}

/*
d8888b.  .d8b.  d8888b. db   dD
88  `8D d8' `8b 88  `8D 88 ,8P'
88   88 88ooo88 88oobY' 88,8P
88   88 88~~~88 88`8b   88`8b
88  .8D 88   88 88 `88. 88 `88.
Y8888D' YP   YP 88   YD YP   YD
*/
.dark {
	--colorPrimary: var(--colorIndigo600);
	--colorBackground: var(--colorCoolGray800);
	--colorFont: var(--colorIndigo100);
	--colorPre: var(--colorCoolGray700);
}

/*
db       .d8b.  db    db  .d88b.  db    db d888888b
88      d8' `8b `8b  d8' .8P  Y8. 88    88 `~~88~~'
88      88ooo88  `8bd8'  88    88 88    88    88
88      88~~~88    88    88    88 88    88    88
88booo. 88   88    88    `8b  d8' 88b  d88    88
Y88888P YP   YP    YP     `Y88P'  ~Y8888P'    YP
*/


.container {max-width: var(--containerWidthLg);}
.container-sm {max-width: var(--containerWidthSm);}
.container-md {max-width: var(--containerWidthMd);}
.container-lg {max-width: var(--containerWidthLg);}
.container-xl {max-width: var(--containerWidthXl);}
.container-xxl {max-width: var(--containerWidthXxl);}
.container-fluid {max-width: 100%;}

.container-center {margin: 0 auto;}


/*
 dP""b8 88""Yb 88 8888b.
dP   `" 88__dP 88  8I  Yb
Yb  "88 88"Yb  88  8I  dY
 YboodP 88  Yb 88 8888Y"
*/
/* Grid adapted from Felipe Wagner (@flpwgr) https://codepen.io/flpwgr/pen/qbMJaY */
.row {
	display:flex;
	flex-wrap: wrap;
}

.col,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6 {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 1;

	padding: 10px;
}

.col-1 { max-width: calc(100% / 12); }
.col-2 { max-width: calc(100% / 12 * 2); }
.col-3 { max-width: calc(100% / 12 * 3); }
.col-4 { max-width: calc(100% / 12 * 4); }
.col-5 { max-width: calc(100% / 12 * 5); }
.col-6 { max-width: calc(100% / 2); }

@media screen and (max-width: 768px) {
	.container {
		overflow: auto;
	}
	.col {
		min-width: 100%;
		width: 100%;
		margin: 10px 0;
	}
}



/*
d8888b.  .d88b.  db    db
88  `8D .8P  Y8. `8b  d8'
88oooY' 88    88  `8bd8'
88~~~b. 88    88  .dPYb.
88   8D `8b  d8' .8P  Y8.
Y8888P'  `Y88P'  YP    YP
*/
.display-block {display: block}
.display-inline-block {display: inline-block}
.display-none {display: none}

/* TODO: display-none responsive */

/*
.dP"Y8 88 8888P 888888
`Ybo." 88   dP  88__
o.`Y8b 88  dP   88""
8bodP' 88 d8888 888888
*/
.width-25 {width: 25%}
.width-33 {width: 33%}
.width-50 {width: 50%}
.width-66 {width: 66%}
.width-100 {width: 100%}

.opacity-30 { opacity: .3; }
.opacity-50 { opacity: .5; }
.opacity-70 { opacity: .7; }
.opacity-80 { opacity: .8; }
.opacity-100 { opacity: 1; }



/*
d8888b. d88888b d88888b  .d8b.  db    db db      d888888b
88  `8D 88'     88'     d8' `8b 88    88 88      `~~88~~'
88   88 88ooooo 88ooo   88ooo88 88    88 88         88
88   88 88~~~~~ 88~~~   88~~~88 88    88 88         88
88  .8D 88.     88      88   88 88b  d88 88booo.    88
Y8888D' Y88888P YP      YP   YP ~Y8888P' Y88888P    YP
*/

*, *::before, *::after {
	box-sizing: border-box;
}

mark,::selection{
	background:var(--colorYellow200);
	color:var(--colorYellow700);
}


html,
body {
	background: var(--colorBackground);
	color: var(--colorFont);
	font-family: var(--fontFamily);
	font-size: var(--fontSize);
	line-height: 1.33;
	margin: 0;
	padding: 0;
}

a {
	color: var(--colorAction);
}


pre {
	background: var(--colorPre);
}
blockquote {
	color: var(--colorCoolGray800);
}

/*
888888  dP"Yb  88""Yb 8b    d8
88__   dP   Yb 88__dP 88b  d88
88""   Yb   dP 88"Yb  88YbdP88
88      YbodP  88  Yb 88 YY 88
*/
form {

}
label {
	display: inline-block;
}
input,
select,
textarea {
    border: 1px solid var(--colorCoolGray300);
    border-radius: var(--borderRadius);
}
input[type=checkbox],
input[type=radio] {

}
button,
input[type=submit] {
	border: none;
	background: var(--colorAction);
	color: var(--colorActionText);
}


/*
888888    db    88""Yb 88     888888
  88     dPYb   88__dP 88     88__
  88    dP__Yb  88""Yb 88  .o 88""
  88   dP""""Yb 88oodP 88ood8 888888
*/
th,
td {padding-right: 10px}
th {
	font-weight: var(--fontWeightNormal);
	padding-top:18px;
	padding-bottom:18px;
	font-size: .9rem;
	opacity: .7;
}
td {
	border-bottom: 1px solid #ccc;
	padding-top: 16px;
	padding-bottom: 16px;
}


/*
 .o88b.  .d88b.  db       .d88b.  d8888b.
d8P  Y8 .8P  Y8. 88      .8P  Y8. 88  `8D
8P      88    88 88      88    88 88oobY'
8b      88    88 88      88    88 88`8b
Y8b  d8 `8b  d8' 88booo. `8b  d8' 88 `88.
 `Y88P'  `Y88P'  Y88888P  `Y88P'  88   YD
*/
.dark-danger {background: var(--colorDangerDark);color: var(--colorDangerLight);}
.light-danger {background: var(--colorDangerLight);color: var(--colorDangerDark);}

.dark-warning {background: var(--colorWarningDark);color: var(--colorWarningLight);}
.light-warning {background: var(--colorWarningLight);color: var(--colorWarningDark);}

.dark-success {background: var(--colorSuccessDark);color: var(--colorSuccessLight);}
.light-success {background: var(--colorSuccessLight);color: var(--colorSuccessDark);}

.dark-info {background: var(--colorInfoDark);color: var(--colorInfoLight);}
.light-info {background: var(--colorInfoLight);color: var(--colorInfoDark);}

.dark-secondary {background: var(--colorSecondaryDark);color: var(--colorSecondaryLight);}
.light-secondary {background: var(--colorSecondaryLight);color: var(--colorSecondaryDark);}


/*
d88888b  .d88b.  d8b   db d888888b
88'     .8P  Y8. 888o  88 `~~88~~'
88ooo   88    88 88V8o 88    88
88~~~   88    88 88 V8o88    88
88      `8b  d8' 88  V888    88
YP       `Y88P'  VP   V8P    YP
*/

/*
.dP"Y8 88 8888P 888888
`Ybo." 88   dP  88__
o.`Y8b 88  dP   88""
8bodP' 88 d8888 888888
*/
.text-s6 {font-size: 0.5rem;}
.text-s5 {font-size: 0.6rem;}
.text-s4 {font-size: 0.7rem;}
.text-s3 {font-size: 0.8rem;}
.text-s2 {font-size: 0.9rem;}
.text-s,
.text-s1 {font-size: 0.9rem;}
.text-l,
.text-l1 {font-size: 1.5rem;line-height: 2rem;}
.text-l2 {font-size: 1.875rem;line-height: 2.25rem;}
.text-l3 {font-size: 2.25rem;line-height: 2.5rem;}
.text-l4 {font-size: 3rem;line-height: 1;}
.text-l5 {font-size: 3.75rem;line-height: 1;}
.text-l6 {font-size: 4.5rem;line-height: 1;}
.text-l7 {font-size: 6rem;line-height: 1;}
.text-l8 {font-size: 8rem;line-height: 1;}

/* TODO: Responsive for large texts in small screens */

/*
Yb        dP 888888 88  dP""b8 88  88 888888
 Yb  db  dP  88__   88 dP   `" 88  88   88
  YbdPYbdP   88""   88 Yb  "88 888888   88
   YP  YP    888888 88  YboodP 88  88   88
*/
.text-bold {font-weight: var(--fontWeightBold);}
.text-regular {font-weight: var(--fontWeightNormal);}
.text-light {font-weight: var(--fontWeightLight);}

/*
888888    db    8b    d8 88 88     Yb  dP
88__     dPYb   88b  d88 88 88      YbdP
88""    dP__Yb  88YbdP88 88 88  .o   8P
88     dP""""Yb 88 YY 88 88 88ood8  dP
*/
.text-sans {font-family: var(--fontFamilySansSerif);}
.text-serif {font-family: var(--fontFamilySerif);}

/*
   db    88     88  dP""b8 88b 88
  dPYb   88     88 dP   `" 88Yb88
 dP__Yb  88  .o 88 Yb  "88 88 Y88
dP""""Yb 88ood8 88  YboodP 88  Y8
*/
.text-left {text-align: left;}
.text-center {text-align: center;}
.text-right {text-align: right;}
.text-justify {text-align: justify;}


/*
.88b  d88.  .d8b.  d8888b.  d888b  d888888b d8b   db
88'YbdP`88 d8' `8b 88  `8D 88' Y8b   `88'   888o  88
88  88  88 88ooo88 88oobY' 88         88    88V8o 88
88  88  88 88~~~88 88`8b   88  ooo    88    88 V8o88
88  88  88 88   88 88 `88. 88. ~8~   .88.   88  V888
YP  YP  YP YP   YP 88   YD  Y888P  Y888888P VP   V8P
*/
/* Margins & Paddings */
.m-0 {margin:0}
.m-1 {margin:.2rem}
.m-2 {margin:.3rem}
.m-3 {margin:.5rem}
.m-4 {margin:1rem}
.m-5 {margin:1.5rem}
.m-6 {margin:2rem}
.m-7 {margin:5rem}
.m-8 {margin:10rem}
.m-9 {margin:20rem}

.mt-0 {margin-top:0}
.mt-1 {margin-top:.2rem}
.mt-2 {margin-top:.3rem}
.mt-3 {margin-top:.5rem}
.mt-4 {margin-top:1rem}
.mt-5 {margin-top:1.5rem}
.mt-6 {margin-top:2rem}
.mt-7 {margin-top:5rem}
.mt-8 {margin-top:10rem}
.mt-9 {margin-top:20rem}

.mr-0 {margin-right:0}
.mr-1 {margin-right:.2rem}
.mr-2 {margin-right:.3rem}
.mr-3 {margin-right:.5rem}
.mr-4 {margin-right:1rem}
.mr-5 {margin-right:1.5rem}
.mr-6 {margin-right:2rem}
.mr-7 {margin-right:5rem}
.mr-8 {margin-right:10rem}
.mr-9 {margin-right:20rem}

.mb-0 {margin-bottom:0}
.mb-1 {margin-bottom:.2rem}
.mb-2 {margin-bottom:.3rem}
.mb-3 {margin-bottom:.5rem}
.mb-4 {margin-bottom:1rem}
.mb-5 {margin-bottom:1.5rem}
.mb-6 {margin-bottom:2rem}
.mb-7 {margin-bottom:5rem}
.mb-8 {margin-bottom:10rem}
.mb-9 {margin-bottom:20rem}

.ml-0 {margin-left:0}
.ml-1 {margin-left:.2rem}
.ml-2 {margin-left:.3rem}
.ml-3 {margin-left:.5rem}
.ml-4 {margin-left:1rem}
.ml-5 {margin-left:1.5rem}
.ml-6 {margin-left:2rem}
.ml-7 {margin-left:5rem}
.ml-8 {margin-left:10rem}
.ml-9 {margin-left:20rem}

/*
d8888b.  .d8b.  d8888b. d8888b. d888888b d8b   db  d888b
88  `8D d8' `8b 88  `8D 88  `8D   `88'   888o  88 88' Y8b
88oodD' 88ooo88 88   88 88   88    88    88V8o 88 88
88~~~   88~~~88 88   88 88   88    88    88 V8o88 88  ooo
88      88   88 88  .8D 88  .8D   .88.   88  V888 88. ~8~
88      YP   YP Y8888D' Y8888D' Y888888P VP   V8P  Y888P
*/
.p-0 {padding:0}
.p-1 {padding:.2rem}
.p-2 {padding:.3rem}
.p-3 {padding:.5rem}
.p-4 {padding:1rem}
.p-5 {padding:1.5rem}
.p-6 {padding:2rem}
.p-7 {padding:5rem}
.p-8 {padding:10rem}
.p-9 {padding:20rem}

.pt-0 {padding-top:0}
.pt-1 {padding-top:.2rem}
.pt-2 {padding-top:.3rem}
.pt-3 {padding-top:.5rem}
.pt-4 {padding-top:1rem}
.pt-5 {padding-top:1.5rem}
.pt-6 {padding-top:2rem}
.pt-7 {padding-top:5rem}
.pt-8 {padding-top:10rem}
.pt-9 {padding-top:20rem}

.pr-0 {padding-right:0}
.pr-1 {padding-right:.2rem}
.pr-2 {padding-right:.3rem}
.pr-3 {padding-right:.5rem}
.pr-4 {padding-right:1rem}
.pr-5 {padding-right:1.5rem}
.pr-6 {padding-right:2rem}
.pr-7 {padding-right:5rem}
.pr-8 {padding-right:10rem}
.pr-9 {padding-right:20rem}

.pb-0 {padding-bottom:0}
.pb-1 {padding-bottom:.2rem}
.pb-2 {padding-bottom:.3rem}
.pb-3 {padding-bottom:.5rem}
.pb-4 {padding-bottom:1rem}
.pb-5 {padding-bottom:1.5rem}
.pb-6 {padding-bottom:2rem}
.pb-7 {padding-bottom:5rem}
.pb-8 {padding-bottom:10rem}
.pb-9 {padding-bottom:20rem}

.pl-0 {padding-left:0}
.pl-1 {padding-left:.2rem}
.pl-2 {padding-left:.3rem}
.pl-3 {padding-left:.5rem}
.pl-4 {padding-left:1rem}
.pl-5 {padding-left:1.5rem}
.pl-6 {padding-left:2rem}
.pl-7 {padding-left:5rem}
.pl-8 {padding-left:10rem}
.pl-9 {padding-left:20rem}
