/**
 * LittleCSS v0.0.1
 * Ultra-lean simplified TailwindCSS library
 * Copyright © Xavi Esteve
 */


/*
88""Yb    db    88""Yb    db    8b    d8 888888 888888 888888 88""Yb .dP"Y8 
88__dP   dPYb   88__dP   dPYb   88b  d88 88__     88   88__   88__dP `Ybo." 
88"""   dP__Yb  88"Yb   dP__Yb  88YbdP88 88""     88   88""   88"Yb  o.`Y8b 
88     dP""""Yb 88  Yb dP""""Yb 88 YY 88 888888   88   888888 88  Yb 8bodP' 
*/
:root {
	/* Color palette */
	--colorWhite: #fff;
	--colorBlack: #000;

	/* Colors branding */
	--colorPrimary: #0085d5;
	--colorAction: var(--colorPrimary);
	--colorActionText: var(--colorBlack);
	--colorBackground: var(--colorWhite);
	--colorFont: var(--colorBlack);

	/* Typography */
	--fontFamilySansSerif: sans-serif;
	--fontFamilySerif: serif;
	--fontFamily: var(--fontFamilySansSerif);
	--fontSize: 16px;
}


/*
db       .d8b.  db    db  .d88b.  db    db d888888b 
88      d8' `8b `8b  d8' .8P  Y8. 88    88 `~~88~~' 
88      88ooo88  `8bd8'  88    88 88    88    88    
88      88~~~88    88    88    88 88    88    88    
88booo. 88   88    88    `8b  d8' 88b  d88    88    
Y88888P YP   YP    YP     `Y88P'  ~Y8888P'    YP    
*/

*, *::before, *::after {
	box-sizing: border-box;
}

html,
body {
	background: var(--colorBackground);
}

/*
888888  dP"Yb  88""Yb 8b    d8 .dP"Y8 
88__   dP   Yb 88__dP 88b  d88 `Ybo." 
88""   Yb   dP 88"Yb  88YbdP88 o.`Y8b 
88      YbodP  88  Yb 88 YY 88 8bodP' 
*/
form {

}
label {

}
input,
select,
textarea {
	
}
checkbox,
input[type=radio] {

}
button, input[type=submit] {
	border: none;
	background: var(--colorAction);
	color: var(--colorActionText);
}



/*
 dP""b8 88""Yb 88 8888b.  
dP   `" 88__dP 88  8I  Yb 
Yb  "88 88"Yb  88  8I  dY 
 YboodP 88  Yb 88 8888Y"  
*/
/* Grid adapted from Felipe Wagner (@flpwgr) https://codepen.io/flpwgr/pen/qbMJaY */
.row { 
	display:flex;
	flex-wrap: wrap;
}

.col,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6 {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 1;

	margin: 10px;
	padding: 10px;
}

.col-1 { max-width: calc(100% / 12); }
.col-2 { max-width: calc(100% / 12 * 2); }
.col-3 { max-width: calc(100% / 12 * 3); }
.col-4 { max-width: calc(100% / 12 * 4); }
.col-5 { max-width: calc(100% / 12 * 5); }
.col-6 { max-width: calc(100% / 2); }

@media screen and (max-width: 768px) {
	.container {
		overflow: auto;
	}
	.col {
		min-width: 100%;
		width: 100%;
		margin: 10px 0;
	}
}



/*
d8888b.  .d88b.  db    db 
88  `8D .8P  Y8. `8b  d8' 
88oooY' 88    88  `8bd8'  
88~~~b. 88    88  .dPYb.  
88   8D `8b  d8' .8P  Y8. 
Y8888P'  `Y88P'  YP    YP 
*/
.display-block {display: block}
.display-inline-block {display: inline-block}

/*
.dP"Y8 88 8888P 888888 
`Ybo." 88   dP  88__   
o.`Y8b 88  dP   88""   
8bodP' 88 d8888 888888 
*/
/* Sizes */
.width-0 {width:0}
.width-33 {width: 33%}
.width-66 {width: 66%}
.width-100 {width: 100%}



/*
d88888b  .d88b.  d8b   db d888888b 
88'     .8P  Y8. 888o  88 `~~88~~' 
88ooo   88    88 88V8o 88    88    
88~~~   88    88 88 V8o88    88    
88      `8b  d8' 88  V888    88    
YP       `Y88P'  VP   V8P    YP    
*/

/*
.dP"Y8 88 8888P 888888 
`Ybo." 88   dP  88__   
o.`Y8b 88  dP   88""   
8bodP' 88 d8888 888888 
*/
.text-s6 {font-size: 0.5rem;}
.text-s5 {font-size: 0.6rem;}
.text-s4 {font-size: 0.7rem;}
.text-s3 {font-size: 0.8rem;}
.text-s2 {font-size: 0.9rem;}
.text-s,
.text-s1 {font-size: 0.9rem;}
.text-l,
.text-l1 {font-size: 1.5rem;line-height: 2rem;}
.text-l2 {font-size: 1.875rem;line-height: 2.25rem;}
.text-l3 {font-size: 2.25rem;line-height: 2.5rem;}
.text-l4 {font-size: 3rem;line-height: 1;}
.text-l5 {font-size: 3.75rem;line-height: 1;}
.text-l6 {font-size: 4.5rem;line-height: 1;}
.text-l7 {font-size: 6rem;line-height: 1;}
.text-l8 {font-size: 8rem;line-height: 1;}

/*
Yb        dP 888888 88  dP""b8 88  88 888888 
 Yb  db  dP  88__   88 dP   `" 88  88   88   
  YbdPYbdP   88""   88 Yb  "88 888888   88   
   YP  YP    888888 88  YboodP 88  88   88   
*/
.text-bold {font-weight: 600;}
.text-regular {font-weight: 500;}
.text-light {font-weight: 300;}

/*
888888    db    8b    d8 88 88     Yb  dP 
88__     dPYb   88b  d88 88 88      YbdP  
88""    dP__Yb  88YbdP88 88 88  .o   8P   
88     dP""""Yb 88 YY 88 88 88ood8  dP    
*/
.text-sans {font-family: var(--fontFamilySansSerif);}
.text-serif {font-family: var(--fontFamilySansSerif);}

/*
   db    88     88  dP""b8 88b 88 
  dPYb   88     88 dP   `" 88Yb88 
 dP__Yb  88  .o 88 Yb  "88 88 Y88 
dP""""Yb 88ood8 88  YboodP 88  Y8 
*/
.text-left {text-align: left;}
.text-center {text-align: center;}
.text-right {text-align: right;}
.text-justify {text-align: justify;}


/*
.88b  d88.  .d8b.  d8888b.  d888b  d888888b d8b   db 
88'YbdP`88 d8' `8b 88  `8D 88' Y8b   `88'   888o  88 
88  88  88 88ooo88 88oobY' 88         88    88V8o 88 
88  88  88 88~~~88 88`8b   88  ooo    88    88 V8o88 
88  88  88 88   88 88 `88. 88. ~8~   .88.   88  V888 
YP  YP  YP YP   YP 88   YD  Y888P  Y888888P VP   V8P 
*/
/* Margins & Paddings */
.m-0 {margin:0}
.m-1 {margin:.2rem}
.m-2 {margin:.3rem}
.m-3 {margin:.5rem}
.m-4 {margin:1rem}
.m-5 {margin:1.5rem}
.m-6 {margin:2rem}
.m-7 {margin:5rem}
.m-8 {margin:10rem}
.m-9 {margin:20rem}

.mt-0 {margin-top:0}
.mt-1 {margin-top:.2rem}
.mt-2 {margin-top:.3rem}
.mt-3 {margin-top:.5rem}
.mt-4 {margin-top:1rem}
.mt-5 {margin-top:1.5rem}
.mt-6 {margin-top:2rem}
.mt-7 {margin-top:5rem}
.mt-8 {margin-top:10rem}
.mt-9 {margin-top:20rem}

.mr-0 {margin-right:0}
.mr-1 {margin-right:.2rem}
.mr-2 {margin-right:.3rem}
.mr-3 {margin-right:.5rem}
.mr-4 {margin-right:1rem}
.mr-5 {margin-right:1.5rem}
.mr-6 {margin-right:2rem}
.mr-7 {margin-right:5rem}
.mr-8 {margin-right:10rem}
.mr-9 {margin-right:20rem}

.mb-0 {margin-bottom:0}
.mb-1 {margin-bottom:.2rem}
.mb-2 {margin-bottom:.3rem}
.mb-3 {margin-bottom:.5rem}
.mb-4 {margin-bottom:1rem}
.mb-5 {margin-bottom:1.5rem}
.mb-6 {margin-bottom:2rem}
.mb-7 {margin-bottom:5rem}
.mb-8 {margin-bottom:10rem}
.mb-9 {margin-bottom:20rem}

.ml-0 {margin-left:0}
.ml-1 {margin-left:.2rem}
.ml-2 {margin-left:.3rem}
.ml-3 {margin-left:.5rem}
.ml-4 {margin-left:1rem}
.ml-5 {margin-left:1.5rem}
.ml-6 {margin-left:2rem}
.ml-7 {margin-left:5rem}
.ml-8 {margin-left:10rem}
.ml-9 {margin-left:20rem}

/*
d8888b.  .d8b.  d8888b. d8888b. d888888b d8b   db  d888b  
88  `8D d8' `8b 88  `8D 88  `8D   `88'   888o  88 88' Y8b 
88oodD' 88ooo88 88   88 88   88    88    88V8o 88 88      
88~~~   88~~~88 88   88 88   88    88    88 V8o88 88  ooo 
88      88   88 88  .8D 88  .8D   .88.   88  V888 88. ~8~ 
88      YP   YP Y8888D' Y8888D' Y888888P VP   V8P  Y888P  
*/
.p-0 {padding:0}
.p-1 {padding:.2rem}
.p-2 {padding:.3rem}
.p-3 {padding:.5rem}
.p-4 {padding:1rem}
.p-5 {padding:1.5rem}
.p-6 {padding:2rem}
.p-7 {padding:5rem}
.p-8 {padding:10rem}
.p-9 {padding:20rem}

.pt-0 {padding-top:0}
.pt-1 {padding-top:.2rem}
.pt-2 {padding-top:.3rem}
.pt-3 {padding-top:.5rem}
.pt-4 {padding-top:1rem}
.pt-5 {padding-top:1.5rem}
.pt-6 {padding-top:2rem}
.pt-7 {padding-top:5rem}
.pt-8 {padding-top:10rem}
.pt-9 {padding-top:20rem}

.pr-0 {padding-right:0}
.pr-1 {padding-right:.2rem}
.pr-2 {padding-right:.3rem}
.pr-3 {padding-right:.5rem}
.pr-4 {padding-right:1rem}
.pr-5 {padding-right:1.5rem}
.pr-6 {padding-right:2rem}
.pr-7 {padding-right:5rem}
.pr-8 {padding-right:10rem}
.pr-9 {padding-right:20rem}

.pb-0 {padding-bottom:0}
.pb-1 {padding-bottom:.2rem}
.pb-2 {padding-bottom:.3rem}
.pb-3 {padding-bottom:.5rem}
.pb-4 {padding-bottom:1rem}
.pb-5 {padding-bottom:1.5rem}
.pb-6 {padding-bottom:2rem}
.pb-7 {padding-bottom:5rem}
.pb-8 {padding-bottom:10rem}
.pb-9 {padding-bottom:20rem}

.pl-0 {padding-left:0}
.pl-1 {padding-left:.2rem}
.pl-2 {padding-left:.3rem}
.pl-3 {padding-left:.5rem}
.pl-4 {padding-left:1rem}
.pl-5 {padding-left:1.5rem}
.pl-6 {padding-left:2rem}
.pl-7 {padding-left:5rem}
.pl-8 {padding-left:10rem}
.pl-9 {padding-left:20rem}


