/**
 * LittleCSS v0.3.0
 * Ultra-lean CSS library
 * Copyright © Xavi Esteve 2021 (MIT License)
 */


/*
88""Yb    db    88""Yb    db    8b    d8 888888 888888 888888 88""Yb .dP"Y8
88__dP   dPYb   88__dP   dPYb   88b  d88 88__     88   88__   88__dP `Ybo."
88"""   dP__Yb  88"Yb   dP__Yb  88YbdP88 88""     88   88""   88"Yb  o.`Y8b
88     dP""""Yb 88  Yb dP""""Yb 88 YY 88 888888   88   888888 88  Yb 8bodP'
*/

/* :root {
	--viewportXs: 576px;
	--viewportSm: 768px;
	--viewportMd: 992px;
	--viewportLg: 1200px;
	--viewportXl: 1400px;
} */

/* X-Small	None	<576px */
@media only screen and (max-width: 576px) {
	:root {
		--viewPortMultiplier: 0.6;
	}
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
	:root {
		--viewPortMultiplier: 0.7;
	}
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
	:root {
		--viewPortMultiplier: 0.8;
	}
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
	:root {
		--viewPortMultiplier: 0.9;
	}
}
@media only screen and (min-width: 1200px) and (max-width: 1400px) {
	:root {
		--viewPortMultiplier: 1;
	}
}
@media only screen and (min-width: 1400px) {
	:root {
		--viewPortMultiplier: 1.2;
	}
}

:root {

	--colorWhite: #fff;
	--colorBlack: #000;

	/* TailWindCSS Color Palette https://tailwindcss.com/docs/customizing-colors#color-palette-reference */
	/* Blue Gray */
	--colorBlueGray50: #F8FAFC;
	--colorBlueGray100: #F1F5F9;
	--colorBlueGray200: #E2E8F0;
	--colorBlueGray300: #CBD5E1;
	--colorBlueGray400: #94A3B8;
	--colorBlueGray500: #64748B;
	--colorBlueGray600: #475569;
	--colorBlueGray700: #334155;
	--colorBlueGray800: #1E293B;
	--colorBlueGray900: #0F172A;

	/* Cool Gray */
	--colorCoolGray50: #F9FAFB;
	--colorCoolGray100: #F3F4F6;
	--colorCoolGray200: #E5E7EB;
	--colorCoolGray300: #D1D5DB;
	--colorCoolGray400: #9CA3AF;
	--colorCoolGray500: #6B7280;
	--colorCoolGray600: #4B5563;
	--colorCoolGray700: #374151;
	--colorCoolGray800: #1F2937;
	--colorCoolGray900: #111827;

	/* Gray */
	--colorGray50: #FAFAFA;
	--colorGray100: #F4F4F5;
	--colorGray200: #E4E4E7;
	--colorGray300: #D4D4D8;
	--colorGray400: #A1A1AA;
	--colorGray500: #71717A;
	--colorGray600: #52525B;
	--colorGray700: #3F3F46;
	--colorGray800: #27272A;
	--colorGray900: #18181B;

	/* True Gray */
	--colorTrueGray50: #FAFAFA;
	--colorTrueGray100: #F5F5F5;
	--colorTrueGray200: #E5E5E5;
	--colorTrueGray300: #D4D4D4;
	--colorTrueGray400: #A3A3A3;
	--colorTrueGray500: #737373;
	--colorTrueGray600: #525252;
	--colorTrueGray700: #404040;
	--colorTrueGray800: #262626;
	--colorTrueGray900: #171717;

	/* Warm Gray */
	--colorWarmGray50: #FAFAF9;
	--colorWarmGray100: #F5F5F4;
	--colorWarmGray200: #E7E5E4;
	--colorWarmGray300: #D6D3D1;
	--colorWarmGray400: #A8A29E;
	--colorWarmGray500: #78716C;
	--colorWarmGray600: #57534E;
	--colorWarmGray700: #44403C;
	--colorWarmGray800: #292524;
	--colorWarmGray900: #1C1917;

	/* Red */
	--colorRed50: #FEF2F2;
	--colorRed100: #FEE2E2;
	--colorRed200: #FECACA;
	--colorRed300: #FCA5A5;
	--colorRed400: #F87171;
	--colorRed500: #EF4444;
	--colorRed600: #DC2626;
	--colorRed700: #B91C1C;
	--colorRed800: #991B1B;
	--colorRed900: #7F1D1D;

	/* Orange */
	--colorOrange50: #FFF7ED;
	--colorOrange100: #FFEDD5;
	--colorOrange200: #FED7AA;
	--colorOrange300: #FDBA74;
	--colorOrange400: #FB923C;
	--colorOrange500: #F97316;
	--colorOrange600: #EA580C;
	--colorOrange700: #C2410C;
	--colorOrange800: #9A3412;
	--colorOrange900: #7C2D12;

	/* Amber */
	--colorAmber50: #FFFBEB;
	--colorAmber100: #FEF3C7;
	--colorAmber200: #FDE68A;
	--colorAmber300: #FCD34D;
	--colorAmber400: #FBBF24;
	--colorAmber500: #F59E0B;
	--colorAmber600: #D97706;
	--colorAmber700: #B45309;
	--colorAmber800: #92400E;
	--colorAmber900: #78350F;

	/* Yellow */
	--colorYellow50: #FEFCE8;
	--colorYellow100: #FEF9C3;
	--colorYellow200: #FEF08A;
	--colorYellow300: #FDE047;
	--colorYellow400: #FACC15;
	--colorYellow500: #EAB308;
	--colorYellow600: #CA8A04;
	--colorYellow700: #A16207;
	--colorYellow800: #854D0E;
	--colorYellow900: #713F12;

	/* Lime */
	--colorLime50: #F7FEE7;
	--colorLime100: #ECFCCB;
	--colorLime200: #D9F99D;
	--colorLime300: #BEF264;
	--colorLime400: #A3E635;
	--colorLime500: #84CC16;
	--colorLime600: #65A30D;
	--colorLime700: #4D7C0F;
	--colorLime800: #3F6212;
	--colorLime900: #365314;

	/* Green */
	--colorGreen50: #F0FDF4;
	--colorGreen100: #DCFCE7;
	--colorGreen200: #BBF7D0;
	--colorGreen300: #86EFAC;
	--colorGreen400: #4ADE80;
	--colorGreen500: #22C55E;
	--colorGreen600: #16A34A;
	--colorGreen700: #15803D;
	--colorGreen800: #166534;
	--colorGreen900: #14532D;

	/* Emerald */
	--colorEmerald50: #ECFDF5;
	--colorEmerald100: #D1FAE5;
	--colorEmerald200: #A7F3D0;
	--colorEmerald300: #6EE7B7;
	--colorEmerald400: #34D399;
	--colorEmerald500: #10B981;
	--colorEmerald600: #059669;
	--colorEmerald700: #047857;
	--colorEmerald800: #065F46;
	--colorEmerald900: #064E3B;

	/* Teal */
	--colorTeal50: #F0FDFA;
	--colorTeal100: #CCFBF1;
	--colorTeal200: #99F6E4;
	--colorTeal300: #5EEAD4;
	--colorTeal400: #2DD4BF;
	--colorTeal500: #14B8A6;
	--colorTeal600: #0D9488;
	--colorTeal700: #0F766E;
	--colorTeal800: #115E59;
	--colorTeal900: #134E4A;

	/* Cyan */
	--colorCyan50: #ECFEFF;
	--colorCyan100: #CFFAFE;
	--colorCyan200: #A5F3FC;
	--colorCyan300: #67E8F9;
	--colorCyan400: #22D3EE;
	--colorCyan500: #06B6D4;
	--colorCyan600: #0891B2;
	--colorCyan700: #0E7490;
	--colorCyan800: #155E75;
	--colorCyan900: #164E63;

	/* Light Blue */
	--colorLightBlue50: #F0F9FF;
	--colorLightBlue100: #E0F2FE;
	--colorLightBlue200: #BAE6FD;
	--colorLightBlue300: #7DD3FC;
	--colorLightBlue400: #38BDF8;
	--colorLightBlue500: #0EA5E9;
	--colorLightBlue600: #0284C7;
	--colorLightBlue700: #0369A1;
	--colorLightBlue800: #075985;
	--colorLightBlue900: #0C4A6E;

	/* Blue */
	--colorBlue50: #EFF6FF;
	--colorBlue100: #DBEAFE;
	--colorBlue200: #BFDBFE;
	--colorBlue300: #93C5FD;
	--colorBlue400: #60A5FA;
	--colorBlue500: #3B82F6;
	--colorBlue600: #2563EB;
	--colorBlue700: #1D4ED8;
	--colorBlue800: #1E40AF;
	--colorBlue900: #1E3A8A;

	/* Indigo */
	--colorIndigo50: #EEF2FF;
	--colorIndigo100: #E0E7FF;
	--colorIndigo200: #C7D2FE;
	--colorIndigo300: #A5B4FC;
	--colorIndigo400: #818CF8;
	--colorIndigo500: #6366F1;
	--colorIndigo600: #4F46E5;
	--colorIndigo700: #4338CA;
	--colorIndigo800: #3730A3;
	--colorIndigo900: #312E81;

	/* Violet */
	--colorViolet50: #F5F3FF;
	--colorViolet100: #EDE9FE;
	--colorViolet200: #DDD6FE;
	--colorViolet300: #C4B5FD;
	--colorViolet400: #A78BFA;
	--colorViolet500: #8B5CF6;
	--colorViolet600: #7C3AED;
	--colorViolet700: #6D28D9;
	--colorViolet800: #5B21B6;
	--colorViolet900: #4C1D95;

	/* Purple */
	--colorPurple50: #FAF5FF;
	--colorPurple100: #F3E8FF;
	--colorPurple200: #E9D5FF;
	--colorPurple300: #D8B4FE;
	--colorPurple400: #C084FC;
	--colorPurple500: #A855F7;
	--colorPurple600: #9333EA;
	--colorPurple700: #7E22CE;
	--colorPurple800: #6B21A8;
	--colorPurple900: #581C87;

	/* Fuchsia */
	--colorFuchsia50: #FDF4FF;
	--colorFuchsia100: #FAE8FF;
	--colorFuchsia200: #F5D0FE;
	--colorFuchsia300: #F0ABFC;
	--colorFuchsia400: #E879F9;
	--colorFuchsia500: #D946EF;
	--colorFuchsia600: #C026D3;
	--colorFuchsia700: #A21CAF;
	--colorFuchsia800: #86198F;
	--colorFuchsia900: #701A75;

	/* Pink */
	--colorPink50: #FDF2F8;
	--colorPink100: #FCE7F3;
	--colorPink200: #FBCFE8;
	--colorPink300: #F9A8D4;
	--colorPink400: #F472B6;
	--colorPink500: #EC4899;
	--colorPink600: #DB2777;
	--colorPink700: #BE185D;
	--colorPink800: #9D174D;
	--colorPink900: #831843;

	/* Rose */
	--colorRose50: #FFF1F2;
	--colorRose100: #FFE4E6;
	--colorRose200: #FECDD3;
	--colorRose300: #FDA4AF;
	--colorRose400: #FB7185;
	--colorRose500: #F43F5E;
	--colorRose600: #E11D48;
	--colorRose700: #BE123C;
	--colorRose800: #9F1239;
	--colorRose900: #881337;


	/* Color palette */
	--colorDangerDark: var(--colorRed600);
	--colorDangerLight: var(--colorRed200);
	--colorWarningDark: var(--colorYellow600);
	--colorWarningLight: var(--colorYellow200);
	--colorSuccessDark: var(--colorGreen600);
	--colorSuccessLight: var(--colorGreen200);
	--colorInfoDark: var(--colorBlue600);
	--colorInfoLight: var(--colorBlue200);
	--colorSecondaryDark: var(--colorCoolGray600);
	--colorSecondaryLight: var(--colorCoolGray200);
	--colorPre: var(--colorCoolGray100);

	/* Color branding */
	--colorPrimary: var(--colorBlue600);
	--colorAction: var(--colorPrimary);
	--colorActionText: var(--colorBlue200);
	--colorBackground: var(--colorIndigo100);
	--colorText: var(--colorCoolGray700);

	/* Typography */
	--fontFamilySansSerif: Arial, Helvetica, sans-serif;
	--fontFamilySerif: serif;
	--fontFamilyMono: monospace;
	--fontFamily: var(--fontFamilySansSerif);
	--fontSize: calc(17px);
	--fontWeightLight: 300;
	--fontWeightNormal: 500;
	--fontWeightBold: 700;
	--fontWeightBlack: 900;

	/* Sizes */
	--containerWidthXs: calc(240px * var(--viewPortMultiplier));
	--containerWidthSm: calc(320px * var(--viewPortMultiplier));
	--containerWidthMd: calc(540px * var(--viewPortMultiplier));
	--containerWidthLg: calc(720px * var(--viewPortMultiplier));
	--containerWidthXl: calc(960px * var(--viewPortMultiplier));
	--containerWidthXxl: calc(1140px * var(--viewPortMultiplier));

	--width0: 0;
	--width1: calc(5px * var(--viewPortMultiplier)); 
	--width2: calc(8px * var(--viewPortMultiplier));
	--width3: calc(17px * var(--viewPortMultiplier)); 
	--width4: calc(25px * var(--viewPortMultiplier)); 
	--width5: calc(34px * var(--viewPortMultiplier));
	--width6: calc(60px * var(--viewPortMultiplier)); 
	--width7: calc(85px * var(--viewPortMultiplier)); 
	--width8: calc(170px * var(--viewPortMultiplier)); 
	--width9: calc(340px * var(--viewPortMultiplier)); 

	--borderRadius: 3px;
	
}



/*
d8888b.  .d8b.  d8888b. db   dD
88  `8D d8' `8b 88  `8D 88 ,8P'
88   88 88ooo88 88oobY' 88,8P
88   88 88~~~88 88`8b   88`8b
88  .8D 88   88 88 `88. 88 `88.
Y8888D' YP   YP 88   YD YP   YD
*/
.dark {
	--colorPrimary: var(--colorIndigo600);
	--colorBackground: var(--colorCoolGray800);
	--colorText: var(--colorIndigo100);
	--colorPre: var(--colorCoolGray700);
}

/*
db       .d8b.  db    db  .d88b.  db    db d888888b
88      d8' `8b `8b  d8' .8P  Y8. 88    88 `~~88~~'
88      88ooo88  `8bd8'  88    88 88    88    88
88      88~~~88    88    88    88 88    88    88
88booo. 88   88    88    `8b  d8' 88b  d88    88
Y88888P YP   YP    YP     `Y88P'  ~Y8888P'    YP
*/

.container-xs {max-width: var(--containerWidthXs);}
.container-sm {max-width: var(--containerWidthSm);}
.container-md {max-width: var(--containerWidthMd);}
.container,
.container-lg {max-width: var(--containerWidthLg);}
.container-xl {max-width: var(--containerWidthXl);}
.container-xxl {max-width: var(--containerWidthXxl);}
.container-fluid {max-width: 100%;}

/*
 dP""b8 88""Yb 88 8888b.
dP   `" 88__dP 88  8I  Yb
Yb  "88 88"Yb  88  8I  dY
 YboodP 88  Yb 88 8888Y"
*/
/* Grid adapted from Felipe Wagner (@flpwgr) https://codepen.io/flpwgr/pen/qbMJaY */
.row,
.row-nobreak {
	display:flex;
	flex-wrap: wrap;
}

.col,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6 {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 1;

	/* padding: 10px; */
}


.col-1 { max-width: calc(100% / 12); }
.col-2 { max-width: calc(100% / 12 * 2); }
.col-3 { max-width: calc(100% / 12 * 3); }
.col-4 { max-width: calc(100% / 12 * 4); }
.col-5 { max-width: calc(100% / 12 * 5); }
.col-6 { max-width: calc(100% / 2); }

@media screen and (max-width: 768px) {
	.container {
		overflow: auto;
	}
	.row > .col,
	.row > .col-1,
	.row > .col-2,
	.row > .col-3,
	.row > .col-4,
	.row > .col-5,
	.row > .col-6 {
		min-width: 100%;
		width: 100%;
		margin: 10px 0;
	}
}



/*
d8888b.  .d88b.  db    db
88  `8D .8P  Y8. `8b  d8'
88oooY' 88    88  `8bd8'
88~~~b. 88    88  .dPYb.
88   8D `8b  d8' .8P  Y8.
Y8888P'  `Y88P'  YP    YP
*/
.display-block {display: block}
.display-inline-block {display: inline-block}
.display-none {display: none}

/* TODO: display-* responsive */
@media only screen and (min-width: 552px){
	.display-xs-none {display: none}
}


.align-left {margin-left:0; margin-right: auto;}
.align-center {margin-left:auto; margin-right: auto;}
.align-right {margin-left:auto; margin-right: 0;}

.float-left {float: left}
.float-right {float: right}

/*
.dP"Y8 88 8888P 888888
`Ybo." 88   dP  88__
o.`Y8b 88  dP   88""
8bodP' 88 d8888 888888
*/
.width-10 {display:inline-block; width: 10%}
.width-25 {display:inline-block; width: 25%}
.width-33 {display:inline-block; width: 33%}
.width-50 {display:inline-block; width: 50%}
.width-66 {display:inline-block; width: 66%}
.width-100 {display:block; width: 100%}

.opacity-10 { opacity: .1; }
.opacity-30 { opacity: .3; }
.opacity-50 { opacity: .5; }
.opacity-70 { opacity: .7; }
.opacity-80 { opacity: .8; }
.opacity-100 { opacity: 1; }



/*
d8888b. d88888b d88888b  .d8b.  db    db db      d888888b
88  `8D 88'     88'     d8' `8b 88    88 88      `~~88~~'
88   88 88ooooo 88ooo   88ooo88 88    88 88         88
88   88 88~~~~~ 88~~~   88~~~88 88    88 88         88
88  .8D 88.     88      88   88 88b  d88 88booo.    88
Y8888D' Y88888P YP      YP   YP ~Y8888P' Y88888P    YP
*/

*, *::before, *::after {
	box-sizing: border-box;
}

mark {
	background:var(--colorYellow300);
	color:var(--colorYellow700);
}
::selection{
	background:var(--colorYellow200);
	color:var(--colorYellow700);
}


html,
body {
	background: var(--colorBackground);
	color: var(--colorText);
	font-family: var(--fontFamily);
	font-size: var(--fontSize);
	line-height: 1.33;
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

img {
	max-width: 100%;
}

pre {
	background: var(--colorPre);
}
blockquote {
	color: var(--colorCoolGray800);
}
hr {
    border: none;
    border-top: 1px solid var(--colorBlueGray200);
    border-bottom: 1px solid var(--colorBlueGray300);
}



/*
888888  dP"Yb  88""Yb 8b    d8
88__   dP   Yb 88__dP 88b  d88
88""   Yb   dP 88"Yb  88YbdP88
88      YbodP  88  Yb 88 YY 88
*/
form {

}
label {
	display: inline-block;
	/* Styling shared with Table TH */
}
input,
select,
textarea {
    border: 1px solid var(--colorCoolGray300);
    border-radius: var(--borderRadius);
}
input[type=checkbox],
input[type=radio] {

}
.button,
button,
input[type=submit] {
	border: none;
	background: var(--colorAction);
	color: var(--colorActionText);
	cursor: pointer;
}
.button[disabled],
button[disabled],
input[type=submit][disabled] {
	opacity: .3;
	cursor: default;
}

/*
888888    db    88""Yb 88     888888
  88     dPYb   88__dP 88     88__
  88    dP__Yb  88""Yb 88  .o 88""
  88   dP""""Yb 88oodP 88ood8 888888
*/
table {
	border-spacing: 0; /* This removes the annoying space between TDs */
    border-collapse: separate;
}
tr:nth-child(even) {
	background-color: rgba(255,255,255,0.2);
}
th,
td {
	padding-right: 1em;
}
th,
label {
	color: var(--colorBlueGray700);
	font-weight: var(--fontWeightNormal);
	padding-top: 1rem;
	padding-bottom: .5rem;
	font-size: .7em;
	text-transform: uppercase;
	text-align: left;
}
td {
	padding-top: .5rem;
	padding-bottom: .5rem;
}
td, 
th {
	padding-left:.5em;
	border-bottom: 1px solid var(--colorBlueGray300);
}


/*
 .o88b.  .d88b.  db       .d88b.  d8888b.
d8P  Y8 .8P  Y8. 88      .8P  Y8. 88  `8D
8P      88    88 88      88    88 88oobY'
8b      88    88 88      88    88 88`8b
Y8b  d8 `8b  d8' 88booo. `8b  d8' 88 `88.
 `Y88P'  `Y88P'  Y88888P  `Y88P'  88   YD
*/

.color-primary {color:var(--colorPrimary)}
.color-background {color:var(--colorBackground)}
.color-text {color:var(--colorText)}
.color-action {color:var(--colorAction)}
.color-action-text {color:var(--colorActionText)}

.color-white {color: var(--colorWhite)}
.back-white {background: var(--colorWhite)}

.back-reset {background: var(--colorBackground);}
.color-reset {color: var(--colorText);}


.back-danger-dark {background: var(--colorDangerDark);}
.color-danger-dark {color: var(--colorDangerDark);}
.back-danger-light {background: var(--colorDangerLight);}
.color-danger-light {color: var(--colorDangerLight);}

.back-warning-dark {background: var(--colorWarningDark);}
.color-warning-dark {color: var(--colorWarningDark);}
.back-warning-light {background: var(--colorWarningLight);}
.color-warning-light {color: var(--colorWarningLight);}

.back-info-dark {background: var(--colorInfoDark);}
.color-info-dark {color: var(--colorInfoDark);}
.back-info-light {background: var(--colorInfoLight);}
.color-info-light {color: var(--colorInfoLight);}

.back-success-dark {background: var(--colorSuccessDark);}
.color-success-dark {color: var(--colorSuccessDark);}
.back-success-light {background: var(--colorSuccessLight);}
.color-success-light {color: var(--colorSuccessLight);}

.back-secondary-dark {background: var(--colorSecondaryDark);}
.color-secondary-dark {color: var(--colorSecondaryDark);}
.back-secondary-light {background: var(--colorSecondaryLight);}
.color-secondary-light {color: var(--colorSecondaryLight);}


/*
d88888b d88888b d88888b d88888b  .o88b. d888888b 
88'     88'     88'     88'     d8P  Y8 `~~88~~' 
88ooooo 88ooo   88ooo   88ooooo 8P         88    
88~~~~~ 88~~~   88~~~   88~~~~~ 8b         88    
88.     88      88      88.     Y8b  d8    88    
Y88888P YP      YP      Y88888P  `Y88P'    YP    
*/

.box-shadow {
	box-shadow: 0 .1rem .2rem var(--colorGray400);
}
.text-shadow {
	text-shadow: 0 .1rem .2rem var(--colorGray400);
}
.border-radius {border-radius: 3px;}
.border-radius-lg {border-radius: 5px;}
.border-radius-xl {border-radius: 10px;}



/*
d88888b  .d88b.  d8b   db d888888b
88'     .8P  Y8. 888o  88 `~~88~~'
88ooo   88    88 88V8o 88    88
88~~~   88    88 88 V8o88    88
88      `8b  d8' 88  V888    88
YP       `Y88P'  VP   V8P    YP
*/

/*
.dP"Y8 88 8888P 888888
`Ybo." 88   dP  88__
o.`Y8b 88  dP   88""
8bodP' 88 d8888 888888
*/
.text-s6 {font-size: 0.5rem;}
.text-s5 {font-size: 0.6rem;}
.text-s4 {font-size: 0.7rem;}
.text-s3 {font-size: 0.8rem;}
.text-s2 {font-size: 0.9rem;}
.text-s,
.text-s1 {font-size: 0.9rem;}
.text-l,
.text-l1 {font-size: 1.1rem;}
.text-l2 {font-size: 1.3rem;}
.text-l3 {font-size: 1.5rem;line-height: 2rem;}
.text-l4 {font-size: 1.875rem;line-height: 2.25rem;}
.text-l5 {font-size: 2.25rem;line-height: 2.5rem;}
.text-l6 {font-size: 3rem;line-height: 1;}
.text-l7 {font-size: 3.75rem;line-height: 1;}
.text-l8 {font-size: 4.5rem;line-height: 1;}
.text-l9 {font-size: 6rem;line-height: 1;}
.text-l10 {font-size: 8rem;line-height: 1;}

/*
Yb        dP 888888 88  dP""b8 88  88 888888
 Yb  db  dP  88__   88 dP   `" 88  88   88
  YbdPYbdP   88""   88 Yb  "88 888888   88
   YP  YP    888888 88  YboodP 88  88   88
*/
.text-black {font-weight: var(--fontWeightBlack);}
.text-bold {font-weight: var(--fontWeightBold);}
.text-regular {font-weight: var(--fontWeightNormal);}
.text-light {font-weight: var(--fontWeightLight);}

/*
888888    db    8b    d8 88 88     Yb  dP
88__     dPYb   88b  d88 88 88      YbdP
88""    dP__Yb  88YbdP88 88 88  .o   8P
88     dP""""Yb 88 YY 88 88 88ood8  dP
*/
.text-sans {font-family: var(--fontFamilySansSerif);}
.text-serif {font-family: var(--fontFamilySerif);}
.text-mono {font-family: var(--fontFamilyMono);}

.text-italic {font-style: italic;}

/*
   db    88     88  dP""b8 88b 88
  dPYb   88     88 dP   `" 88Yb88
 dP__Yb  88  .o 88 Yb  "88 88 Y88
dP""""Yb 88ood8 88  YboodP 88  Y8
*/
.text-left {text-align: left;}
.text-center {text-align: center;}
.text-right {text-align: right;}
.text-justify {text-align: justify;}


/*
.88b  d88.  .d8b.  d8888b.  d888b  d888888b d8b   db
88'YbdP`88 d8' `8b 88  `8D 88' Y8b   `88'   888o  88
88  88  88 88ooo88 88oobY' 88         88    88V8o 88
88  88  88 88~~~88 88`8b   88  ooo    88    88 V8o88
88  88  88 88   88 88 `88. 88. ~8~   .88.   88  V888
YP  YP  YP YP   YP 88   YD  Y888P  Y888888P VP   V8P
*/
/* Margins & Paddings */
.m-0 {margin:var(--width0)}
.m-1 {margin:var(--width1)}
.m-2 {margin:var(--width2)}
.m-3 {margin:var(--width3)}
.m-4 {margin:var(--width4)}
.m-5 {margin:var(--width5)}
.m-6 {margin:var(--width6)}
.m-7 {margin:var(--width7)}
.m-8 {margin:var(--width8)}
.m-9 {margin:var(--width9)}

.mt-0 {margin-top:var(--width0)}
.mt-1 {margin-top:var(--width1)}
.mt-2 {margin-top:var(--width2)}
.mt-3 {margin-top:var(--width3)}
.mt-4 {margin-top:var(--width4)}
.mt-5 {margin-top:var(--width5)}
.mt-6 {margin-top:var(--width6)}
.mt-7 {margin-top:var(--width7)}
.mt-8 {margin-top:var(--width8)}
.mt-9 {margin-top:var(--width9)}

.mr-0 {margin-right:var(--width0)}
.mr-1 {margin-right:var(--width1)}
.mr-2 {margin-right:var(--width2)}
.mr-3 {margin-right:var(--width3)}
.mr-4 {margin-right:var(--width4)}
.mr-5 {margin-right:var(--width5)}
.mr-6 {margin-right:var(--width6)}
.mr-7 {margin-right:var(--width7)}
.mr-8 {margin-right:var(--width8)}
.mr-9 {margin-right:var(--width9)}

.mb-0 {margin-bottom:var(--width0)}
.mb-1 {margin-bottom:var(--width1)}
.mb-2 {margin-bottom:var(--width2)}
.mb-3 {margin-bottom:var(--width3)}
.mb-4 {margin-bottom:var(--width4)}
.mb-5 {margin-bottom:var(--width5)}
.mb-6 {margin-bottom:var(--width6)}
.mb-7 {margin-bottom:var(--width7)}
.mb-8 {margin-bottom:var(--width8)}
.mb-9 {margin-bottom:var(--width9)}

.ml-0 {margin-left:var(--width0)}
.ml-1 {margin-left:var(--width1)}
.ml-2 {margin-left:var(--width2)}
.ml-3 {margin-left:var(--width3)}
.ml-4 {margin-left:var(--width4)}
.ml-5 {margin-left:var(--width5)}
.ml-6 {margin-left:var(--width6)}
.ml-7 {margin-left:var(--width7)}
.ml-8 {margin-left:var(--width8)}
.ml-9 {margin-left:var(--width9)}

/*
d8888b.  .d8b.  d8888b. d8888b. d888888b d8b   db  d888b
88  `8D d8' `8b 88  `8D 88  `8D   `88'   888o  88 88' Y8b
88oodD' 88ooo88 88   88 88   88    88    88V8o 88 88
88~~~   88~~~88 88   88 88   88    88    88 V8o88 88  ooo
88      88   88 88  .8D 88  .8D   .88.   88  V888 88. ~8~
88      YP   YP Y8888D' Y8888D' Y888888P VP   V8P  Y888P
*/

.p-0 {padding:var(--width0)}
.p-1 {padding:var(--width1)}
.p-2 {padding:var(--width2)}
.p-3 {padding:var(--width3)}
.p-4 {padding:var(--width4)}
.p-5 {padding:var(--width5)}
.p-6 {padding:var(--width6)}
.p-7 {padding:var(--width7)}
.p-8 {padding:var(--width8)}
.p-9 {padding:var(--width9)}

.pt-0 {padding-top:var(--width0)}
.pt-1 {padding-top:var(--width1)}
.pt-2 {padding-top:var(--width2)}
.pt-3 {padding-top:var(--width3)}
.pt-4 {padding-top:var(--width4)}
.pt-5 {padding-top:var(--width5)}
.pt-6 {padding-top:var(--width6)}
.pt-7 {padding-top:var(--width7)}
.pt-8 {padding-top:var(--width8)}
.pt-9 {padding-top:var(--width9)}

.pr-0 {padding-right:var(--width0)}
.pr-1 {padding-right:var(--width1)}
.pr-2 {padding-right:var(--width2)}
.pr-3 {padding-right:var(--width3)}
.pr-4 {padding-right:var(--width4)}
.pr-5 {padding-right:var(--width5)}
.pr-6 {padding-right:var(--width6)}
.pr-7 {padding-right:var(--width7)}
.pr-8 {padding-right:var(--width8)}
.pr-9 {padding-right:var(--width9)}

.pb-0 {padding-bottom:var(--width0)}
.pb-1 {padding-bottom:var(--width1)}
.pb-2 {padding-bottom:var(--width2)}
.pb-3 {padding-bottom:var(--width3)}
.pb-4 {padding-bottom:var(--width4)}
.pb-5 {padding-bottom:var(--width5)}
.pb-6 {padding-bottom:var(--width6)}
.pb-7 {padding-bottom:var(--width7)}
.pb-8 {padding-bottom:var(--width8)}
.pb-9 {padding-bottom:var(--width9)}

.pl-0 {padding-left:var(--width0)}
.pl-1 {padding-left:var(--width1)}
.pl-2 {padding-left:var(--width2)}
.pl-3 {padding-left:var(--width3)}
.pl-4 {padding-left:var(--width4)}
.pl-5 {padding-left:var(--width5)}
.pl-6 {padding-left:var(--width6)}
.pl-7 {padding-left:var(--width7)}
.pl-8 {padding-left:var(--width8)}
.pl-9 {padding-left:var(--width9)}
